.nationalMainDiv{
    width: 100%;
    height: auto;
    /* border: 2px solid rebeccapurple; */
    display: flex;
}
 .leftDiv{
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
}

.rightDiv{
    width: 30%;
    height: auto;
    /* border: 2px solid blue; */
}


.National_heading{
    display: flex;
    justify-content: left;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;
    /* background-color: blue; */
    color: white;
}
.National_static1{
    display: flex;
    gap: 70px;
    padding:30px 20px 30px 70px;
}
.National_static2{
    background-color:  #f6f6f6;
}
.National_innerdiv{
    display: flex;
    padding: 20px;
}
.National_adds{
    padding: 30px;
    padding-left: 25%;
}
.National_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.National_imgdiv{
    padding-left: 30px;
    /* margin-bottom: 50px; */
    padding-top: 100px;
    padding-right: 30px;
}